RewriteEngine on

RewriteRule ^accueil$  index.php?id=1 [L]
RewriteRule ^qui-sommes-nous$  index.php?id=2 [L]
RewriteRule ^nos-clients-temoignent$  index.php?id=3 [L]
RewriteRule ^contact$  index.php?id=4 [L]